<h1>All our restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %> -
    <%= link_to "Edit", edit_restaurant_path(restaurant) %>
    </li>
  <% end %>
</ul>